/* App */
.App {
  padding: 0 20px;
}
/* Myheader */

.Myheader {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.headtext {
  font-weight: 600;
  font-size: 20px;
}
.rightbtn {
  width: 50px;
  height: 30px;
  background-color: #e3e8ff;
  text-align: center;
  line-height: 28px;
  border-radius: 20px;
}
/* Calendar */
.Calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thisweek {
  margin: 0 20px;
}

.deWeek {
  cursor: pointer;
}
.inWeek {
  cursor: pointer;
}

/* CheckboxList */
.Checkbox {
  display: flex;
  flex-direction: column;
}
.Habit {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
.CheckBoxList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemList {
  width: 150px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* DayBox */
.DayBox {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.box {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #e3e8ff;
  align-items: center;
  justify-content: center;
}

.clicked {
  background-color: #e3e8ff;
  border: 1px solid #e3e8ff;
}
/* writeHabit */
.WriteHabit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title_input {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0.6px;
}
.title_box {
  margin: 10px;
}

textarea {
  margin-left: 10px;
  width: 500px;
  height: 200px;
  resize: none;
}
